<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type="text/css" href ="{% static 'css/chef_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>King Donat</title>
</head>

<body id="req">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:list_bahan' %}">Bahan Pesanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% elif user.is_authenticated %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:login'%}">Login</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>
	<div class="row justify-content-center formBahan ">
		<form id="formreq"class="formreq" action="" method="POST">
			<div>
		        {% csrf_token %}
		        <div class="form-row">
	        		<div class="form-group col-sm-10">
	        			<p>Nama Koki :</p>
	        			{{ form.nama }}
		             </div>
		            <div class="form-group col-sm-10 form-bahan">
		                <p>Bahan :</p>
		                {{ form.bahanReq }}
		           </div>
            	
		    </div>
		    <p> Dibutuhkan hari apa? </p>
			<select id="mySelect" onchange="myFunction()">
			  <option value="Senin">Senin</option>
			  <option value="Selasa">Selasa</option>
			  <option value="Rabu">Rabu</option>
			  <option value="Kamis">Kamis</option>
			  <option value="Jumat">Jumat</option>
			</select>
			<p id="hari"></p>
			<button class="button" type="submit" value="submit" style="background-color: #D8AEAE">Submit</button>    
	    </form>
	    <div class="row justify-content-right" style="width: 100px; height: auto;">
        	<img src="{% static 'img/donat.png' %}" alt="donat"> 
    	</div>
	</div>
	
	
	<script type="text/javascript"></script>
	<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
	<script src = "{% static 'js/jquery.js' %}"></script>
	<script src = "{% static 'js/hari.js' %}"></script>
	<script src = "{% static 'js/reload.js' %}"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>


</body>

</html>