{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<head>
	<title>Ringkasan</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="{% static 'js/feedback.js'  %}"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js'  %}"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	  $("#act").click(function(){
	    $("#rek").toggle("slow");
	  });
	});
	</script>
</head>
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:list_bahan' %}">Bahan Pesanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% elif user.is_authenticated %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:login'%}">Login</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>
	<body>
		<style>
		.btq{
			background:#FFAAA5;
		}
		.bg{
			background-color:#F5AB40;
		}
		.a{
			color:#FF8B20;
			text-align:center;
		}
		.space{
			margin:5%;
		}
		.warna{
			color:#DD7777;
			font-size:25px;
		}
		#i{
			left:0px;
			bottom:0px;
		}
		.k{
			margin:3px;
		}
		#act:hover{
			background:#FFAAA5;
			border:#F5AB40;;
		}
		</style>
		
		<div class="k">
	<img src="{% static 'lg.png' %}" width="100px">
</div>	
		
		<h1 class="a space"> Silahkan selesaikan pesanan anda  </h1>
		<div class="space warna">
		<p><br><button class="button-aktivitas buttonku btn btn-outline-secondary" id='act'>Transfer ke salah satu rekening di  bawah ini:</button>
<div id="rek">BNI 029829812<br>
BCA 012836239<br>
Mandiri 1349234630
</div>
<br>
<br>
<br>
<br>
Terimakasih telah memilih produk kami. 
Pesanan anda akan segera kami proses
		<br><br></p></div>
		<div class="container">
			<div class="row">
			<div class="col-xl-6">
	    <form method="POST" class="post-form" id="myform">{% csrf_token %}
	        {{ form.as_p }}
			<div class="isi"></div>
	        <button id="but"  class="label label-default h3 save btn btn-default btq">Save</button>
			<br><br>
	    </form>
		
	</div>
	<div class="col" id=i>
		<img id="b" src="{% static 'y.png' %}" width="500px">
	</div>
</div>
</div>

	</body>
	
</html>