<DOCTYPE! html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<head>
	<title>Ringkasan</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="{% static 'js/feedback.js'  %}"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js'  %}"></script>
	
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:list_bahan' %}">Bahan Pesanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% elif user.is_authenticated %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:login'%}">Login</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>
<body>
	<style>
		.btq{
			background:#FFAAA5;
		}
		.bg{
			background-color:#F5AB40;
		}
		.a{
			color:#FF8B20;
			text-align:center;
		}
		.post{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.row-striped:nth-of-type(odd){
		  background-color: #FFAAA5;
		  border-left: 4px #000000 solid;
		}

		.row-striped:nth-of-type(even){
		  background-color: #F3A67B;
		  border-left: 4px #efefef solid;
		}

		.row-striped {
		    padding: 15px;
		}
		.k{
			margin:3px;
		}
		#jumlahFeedback{
			margin:30px;
			text-align:center;
			color:#FF8B20;
			
		}
		</style>
		<script>
			$(document).ready(() => {
				console.log(1);
				panggil();
				
			})
				function panggil(){
					console.log(0);
					$.ajax({
						method:'GET',
						url: `/getDataFeedback/`,
						success: function(feedback){
							console.log(1);
							console.log(feedback.length);
							$("#jumlahFeedback").empty();
							$("#jumlahFeedback").append("<p>Total feedback: " + feedback.length +"<p>")
						}
						
					})
				}
	
			</script>
		<div class="k">
	<a href="{% url 'homepage:home' %}"><img src="{% static 'lg.png' %}" width="100px"></a>
</div>
	<br><br>
	<h1 class="a"> Feedback </h1>
	<div id="jumlahFeedback"> jumlah</div>
	
	<div class="show post container">
		<div class= "col-xl-6">
		<br><br><br><br>
		{% for post in postlist2 %}
			<div class="row row-striped">
				<p id="id_name"><strong>{{ post.nama }}</strong><br>
				{{post.feedback}} </p>
				
					</div>				
				
					{% endfor %}
					
		<br><br>
	</div>
		
			
					
					
				
			   	


</html>