
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<head>
	<title>Ringkasan</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="{% static 'js/feedback.js'  %}"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js'  %}"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
</head>
<body>
	<style>
		
		.btq{
			background:#FFAAA5;
		}
		.bg{
			background-color:#F5AB40;
		}
		.a{
			color:#FF8B20;
			text-align:center;
		}
		.space{
			margin:5%;
		}
		.post{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.row-striped:nth-of-type(odd){
		  background-color: white;
		  border: 2px #FFAAA5 solid;
		}

		.row-striped:nth-of-type(even){
		  background-color: white;
		  border: 2px #FFAAA5 solid;
		}

		.row-striped {
		    padding: 15px 0;
		}
		.gambar1{
			width:300px;
		}
		#nol{
			padding:0px;
			margin:0px;
		}
		#hitam{
			color:black;
		}
		.dikit{
			margin:10%;
		}
		.left{
			margin-left:15%;
		}
		.k{
			margin:3px;
		}
		#gambar{
			bottom:20px;
		}
		</style>
		<div class="k">
	<img src="{% static 'lg.png' %}" width="100px">
</div>
	
	<h1 class="a"> Ringkasan order </h1>
	<br>
	
	<div class="show post container" id="orderan">
		<div class= "col-xl-8">
		<br>
		{% for post in postlist %}
			{% if user.username == post.name %}
			<div class="row row-striped" id="jq">
				<div class="container">
				<div class="row">
						<div class="col-2 text-right">
							<h1 class="display-4"><span class="badge badge-secondary">{{ post.deftanggal }}</span></h1>
							<h2>{{ post.bulan }}</h2>
						</div>
						<div class="col">
							<div class="text-uppercase"><strong>{{ post.name }}</strong></div>
							<p>{{ post.number }}</p>
							<p>{{ post.address }}</p>
							
							
						</div>
						<div class="col" id="nol">
							{% if post.donut_flav_A != 0 %}
								<p> Donat A : {{post.donut_flav_A}} pcs</p>
							{% endif %}

							{% if post.donut_flav_B != 0 %}
								<p> Donat B : {{post.donut_flav_B}} pcs</p>
							{% endif %}

							   {% if post.donut_flav_C != 0 %}
								<p> Donat C : {{post.donut_flav_C}} pcs</p>
							{% endif %}
							
							{% if post.donut_flav_D != 0 %}
								<p> Donat D : {{post.donut_flav_D}} pcs</p>
							{% endif %}

							{% if post.donut_flav_E != 0 %}
								<p> Donat E : {{post.donut_flav_E}} pcs</p>
							{% endif %}

							{% if post.donut_flav_F != 0 %}
								<p> Donat F : {{post.donut_flav_F}} pcs</p>
							{% endif %}

							{% if post.donut_flav_G != 0 %}
								<p> Donat G : {{post.donut_flav_G}} pcs</p>
							{% endif %}

							{% if post.donut_flav_H != 0 %}
								<p> Donat H : {{post.donut_flav_H}} pcs</p>
							{% endif %}

						</div>
					</div>
				</div>
					</div>
					<form action="{% url 'homepagee:delete' post.id %}" method="post">
						{% csrf_token %}
					    <input type="hidden" name="post_id" value="{{ post.id }}"/>
					        <button type="" id="hitam" class="btn btn-outline-warning " style="margin-left: 30%;" >
							
					         Hapus
					        </button> 
					</form>
					{% endif %}
					{% endfor %}
					</div>
				</div>
		<br>
					  <div class="dikit">
					    <div class="row">
					      <div class="col-sm-4 left" >
					        <img id="gambar" src="{% static 'd.png' %}"  class="gambar1" style="left:30px;">
					      </div>
					      <div class="col-sm-4">
							<div clas="dikit">
												   	    <div class="row">
			   	      
												   	      <div class="col bg">
												   	        <br><br><h3> <span class="label label-default h3 ">Apakah orderan anda sudah benar?<br><br>
									<div class="container">
									  <div class="row">
									    <div class="col">
									      <a href="{% url 'homepagee:bayar' %}"><button type="button" class="btn btn-outline-secondary btq" >Yes</button>
									    </div>
									    <div class="col">
									      <a href="{% url 'homepage:person' %}"><button type="button" class="btn btn-outline-secondary btq"bg>No</button></a>
									    </div>
									  </div>
								  </span></h3><br>
							  </div>
							</div>
							</div>
							</div>
    
	
							</div>
					      </div>
					    </div> 	
						
	
		
			
					
					
				
			   	

</body>
{% load staticfiles %}
</html>