* {
    font-family: 'Roboto', sans-serif;
}

#chef .col-2{
	background-color: #D8AEAE;
	text-align: center;
	color: #4E4545;
	margin : 15px;
}

#chef h3{
	font-size:20px;
	padding-top: 10px;
}

#chef .form-group{
    padding-top:130px;
}	

#chef .clock {
    color: #B15D5D;
    font-size: 20px;
    letter-spacing: 7px;
    padding: 20px 5px 0px 550px;
}

#time {
  text-align: center;
  padding: 0;
  margin: 0;
}

#req{
	background-color: #F9D3BD !important;
}

#req .formreq{
	display: block ;
}

#req .col{
	margin: 20px;
	display: block;
	background-color: #F9D3BD !important;
}

.formBahan{
	display: block;
}

#list_bahan body {
  transition: background-color 10s 
  cubic-bezier(1, 1, 1, 1);
  transition-delay: 0s;
}
#list_bahan .col-2{
  background-color: #F9D3BD;
  text-align: center;
  color: #4E4545;
  margin : 15px;
}

#list_bahan h3{
  font-size:20px;
  padding-top: 10px;
}

#list_bahan .form-group{
  padding-top:130px;
}


#list_bahan .clock {
  color: #D8AEAE;
  font-size: 20px;
  letter-spacing: 7px;
}

#list_bahan .judul{
  color: #202020;
  font-weight: 800px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

#list_bahan .tulisan{
  color: #202020;
  font-size: 15px;
}

