.btq{
	background:#FFAAA5;
}
.bg{
	background-color:#F5AB40;
}
.h1{
	color:#FF8B20;
}
.post{
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}
