<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/ppw2.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <title>King Donat</title>
    <script>
        $(document).ready(() => {
            call();
        })

        function call(){
            var temp = 0;
            $.ajax({
                method: 'GET',
                url: `/getData/`,
                success: function(donut){
                    $("#total-donut").empty();
                    for(i=0 ; i < donut.length; i++){
                        temp +=  parseInt(donut[i].fields.donut_flav_A) + parseInt(donut[i].fields.donut_flav_B) + parseInt(donut[i].fields.donut_flav_C) + parseInt(donut[i].fields.donut_flav_D) + parseInt(donut[i].fields.donut_flav_E) + parseInt(donut[i].fields.donut_flav_F) + parseInt(donut[i].fields.donut_flav_G) + parseInt(donut[i].fields.donut_flav_H)
                    }
                    
                    $("#total-donut").append("<p><strong>Total donat yang sudah dipesan: " + temp + "<strong><p>");
                    setTimeout(function(){call();}, 1000);
                }
            })
        }
    </script>
    <script>
        $(document).ready(function() {
            $("#accordion").accordion({header: "h3", collapsible: true, active: false});
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chef:list_bahan' %}">Bahan Pesanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% elif user.is_authenticated %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:login'%}">Login</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="container-fluid">
        <div class="row header-section">
            <div class="col-md-12 text-center mt-5">
                <p id="home-halo" style="font-size: 100px; color: #F4B252; font-weight: bold">Halo {% if user.is_authenticated %} {{ user }} {% endif %}!</p>
            </div>
            <div class="col-md-4 offset-md-4 text-center">
                <p>King Donat adalah toko donat online dimana kami dapa mengantarkan donat ke tempat Anda.
                </p>
                <div id='total-donut'>
                    <p>0</p>
                </div>
            </div>
        </div>
        <div id="accordion" class="col-md-6 offset-md-3 mt-5">
            <h3 class="text-center" id="a1">Cara Pesan</h3>
            <div class="child">
                <p>Pilih paket sesuai banyak yang diinginkan.</p>
                <p>Mengisi indentitasmu yaitu nama, nomor telepon dan alamat tujuan</p>
                <p>Memilih donat sesuai dengan keiginan.</p>
                <p>Mengonfirmasi pesanan.</p>
                <p>Menunggu pesanan datang!</p>
            </div>
        </div>
            <div class="col-md-4 offset-md-4 mt-5 text-center mb-5">
                {% if user.is_authenticated %}
                <a href="{% url 'homepage:person' %}">
                    <button class="mb-5" id="pesan1">Pesan</button>
                </a>
                {% else %}
                <button class="mb-5 btn btn-light"id="but1" onclick="alert1()">Pesan</button>
                <p id="hehe"></p>
                <a id="but" href="{% url 'homepage:login' %}"></a>
                <script>
                function alert1() {
                    $('#hehe').empty();
                    $('#hehe').append("Anda harus login untuk memesan!");
                    $('#but').append("login");
                    document.getElementById('but1').disabled = 'disabled';
                }

                $('#but1').mouseenter(function(){
                    $('#hehe').append("Anda harus login untuk memesan!");
                });
                $('#but1').mouseleave(function(){
                    $('#hehe').empty();
                });
                </script>
                {% endif %}
            </div>
            <div class="container">
                <h1 class="text-center">Donut Tycoon Minigame!</h1>
                <h3 class="text-center">Play while you wait for your donuts!</h3>
                    <button id="click" type="button" class="btn btn-light btn-lg btn-block">CLICK ME</button>
                    <hr>
                    <p class="text-center">
                    Donuts: <span id="total_clicks">0</span><br />
                    Donuts per <small id="time_period">1.00</small> second: <span id="clicks_per_second">0</span>
                    </p>
                    <h3 class="text-center">Buy</h3>
                    <table class="table">
                        <tr>
                          <td>Autoclicker</td>
                          <td><span id="autoclicker_level">lvl 0</span></td>
                          <td><button id="buy_click" type="button" class="btn btn-light">Buy for 1</button></td>
                        </tr>
                        <tr>
                          <td>Speed up by 10%</td>
                          <td><span id="speed_level">lvl 0</span></td>
                          <td><button id="upgrade_speed" type="button" class="btn btn-light">Buy for 100</button></td>
                        </tr>
                        <tr>
                          <td>Increase Donuts Increment</td>
                          <td></td>
                          <td><button id="increase_clicks" type="button" class="btn btn-light">Buy for 100</button></td>
                        </tr>
                    </table>
                </div>
        <!-- diambil dari https://codepen.io/684386/pen/VaYqKY?__cf_chl_jschl_tk__=4573dea65f3b6f192aef7442924793530bc48cd6-1576233177-0-ATSU6QvJxZdVBmD3QOyEvkrzSfOWlo3nEPwbwwYsi2PKzHIYWh_lF1Yp11YJu1tX_l-r9Ux7ZUbSXYs8R-t2daY0hf0SyrOyoLkyM-DvichjZgjUrANOr4NrYhmRQLfMwzWuO9Mfl45DY4BiM0wnU3MzSVeT-810YC3bu55wrigbPVGhlhWQH6qoS9CbdZ5tH13_v8DKqcGNj-6jrSNWuADK4nbi_hQ6fvNXm9D24RXJA1UwfC38e346iv0O4xgPXmzGTKT9t14CmFhFyr6KSB_0IxNGe6atp62aibUZXvk1BklRAV4OECt7GpTVgZDs5LOr1_mSAbOIxhteDu6XCNE -->
        <script>
            //variables
           //variables
            var clicks = 0; //increment this by one every click
            var auto_clicks = 0; //automatically click once per second
            var cost = 1; //the cost of this should increase exponentially
            var upgrade_speed = 0; //the level of the speed up upgrade
            var click_rate = 1000; //ms between each autoclick
            var interval_auto; //storing our interval here so we can update it
            var click_increment = 1; //how many clicks per click
            //functions

            function update_total_clicks() { //updates the number of clicks   
                var e = document.getElementById("total_clicks");
                e.innerHTML = clicks;
            }

            function buy_something(c, button) {
                if (clicks < c) {
                    button.className = 'btn btn-danger';
                    setTimeout(function() {
                        var e = document.getElementsByClassName("btn-danger")[0];
                        e.className = 'btn btn-light';
                    }, 1000);
                    return false;
                }
                clicks -= c;
                return true;
            }

            function update_workers() {
                var e2 = document.getElementById("time_period");
                e2.innerHTML = parseFloat(click_rate / 1000.0).toFixed(2);
                clearInterval(interval_auto);
                interval_auto = setInterval(function() {
                    clicks += auto_clicks;
                    update_total_clicks();
                }, click_rate);
            }
            //click events
            document.getElementById("click").onclick = function() {
                clicks = parseFloat(clicks) + parseFloat(click_increment);
                update_total_clicks(); //updates the text
            };
            document.getElementById("buy_click").onclick = function() {
                if (!buy_something(cost, this)) return;
                auto_clicks++;
                cost = Math.pow(2, auto_clicks); //new cost
                update_total_clicks();
                var e = document.getElementById("clicks_per_second");
                e.innerHTML = auto_clicks;
                var e2 = document.getElementById("buy_click");
                e2.innerHTML = 'Buy for ' + cost;
                var e2 = document.getElementById("autoclicker_level");
                e2.innerHTML = 'lvl  ' + auto_clicks;
            };
            document.getElementById("upgrade_speed").onclick = function() {
                var upgrade_cost = (Math.pow(3, upgrade_speed)) * 100;
                if (!buy_something(upgrade_cost, this)) return;
                upgrade_speed++;
                click_rate = click_rate * 0.90;
                update_workers();
                var e2 = document.getElementById("upgrade_speed");
                e2.innerHTML = 'Buy for ' + ((Math.pow(3, upgrade_speed)) * 100);
                var e2 = document.getElementById("speed_level");
                e2.innerHTML = 'lvl  ' + upgrade_speed;
            };

            //Increase Click Increment
            document.getElementById("increase_clicks").onclick = function() {
                var upgrade_cost = (Math.pow(3, click_increment)) * 1;
                if (!buy_something(upgrade_cost, this)) return;
                click_increment++;
                update_workers();
                var e2 = document.getElementById("click_increment");
                e2.innerHTML = 'Buy for ' + ((Math.pow(3, click_increment)) * 100);
            };

            //Start Autoclickers
            update_workers();

            function set_cookie(cookie_name, value) {
                expiry = new Date();
                expiry.setTime(new Date().getTime() + (10 * 60 * 1000));
                var c_value = escape(btoa(JSON.stringify(value))) + "; expires=" + expiry.toUTCString();
                document.cookie = cookie_name + "=" + c_value;
            }

            function get_cookie(cookie_name) {
                var c_value = document.cookie;
                var c_start = c_value.indexOf(" " + cookie_name + "=");
                if (c_start == -1) {
                    c_start = c_value.indexOf(cookie_name + "=");
                }
                if (c_start == -1) return false;
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = c_value.length;
                }
                c_value = atob(unescape(c_value.substring(c_start, c_end)));
                return JSON.parse(c_value);
            }
                    </script>
    {% endblock %}
</body>
</html>