<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/login_style.css' %}" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
<style>
    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border-radius: 25px;
        background-color: #F9D3BD;
    }
    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }

    .tombol-login{
        background-color: #D8AEAE;
        color: white;
        font-weight: 20px;
        border-radius: 25px;
    }

    #logout{
        background-color: #D8AEAE;
        color: white;
        font-weight: 20px;
        border-radius: 25px;
    }


</style>
 <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                          {% csrf_token %}
                          <h3 class="text-center text-info">Login</h3>
                          <div class="form-group">
                                <label for="id_username">Username:</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username" required>
                          </div>
                          <div class="form-group">
                                <label for="id_password">Password:</label>
                                <input type="password" name="password" id="id_password" class="form-control" placeholder="Enter your password" required>
                          </div>
                          <div class="form-group">
                                {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                {% endif %}
                          </div>
                          <div class="form-group">
                               <input type="submit" id="login" value="Login" class="tombol-login">  or  
                          </div>
                    </form>
                    <a href="{% url 'homepage:signup' %}"><button id="logout">Sign Up</button></a>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
