<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/ppw2.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
     <title>King Order</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
            <a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chef:list_bahan' %}">Bahan Pesanan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
                </li>
                {% elif user.is_authenticated %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:logout'%}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:login'%}">Login</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
    {% block content %}
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <form class="site-form" action="{% url 'homepage:person' %}" method="post">
            {% csrf_token %}
            <div class="row break">
                <div class="col-md-2 mt-5 user-section offset-md-4">
                    <p class="mt-5">Nama:</p>
                </div>
                <div class="col-md-2 mt-5 user-section name">
                    <p id="name" class="mt-5"><strong>{{ user }} {{ form.errors }}</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Nomor:</p>
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Alamat:</p>
                    
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.address }}</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Tanggal order:</p>
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.date }}</p>
                </div>
            </div>
            <div class="row mb-5 break">
                <div class="col-md-12 text-center mt-5">
                    <p style="color: #F5AB40; font-size: 64px;">Base</p>
                    <p>{{ form.donut_base }}</p>
                </div>
                <div class="col-md-2 offset-md-3 text-center">
                    <img class="donut-pic1" src="{% static 'images/choco.png' %}">
                    <p>Choco</p>
                </div>
                <div class="col-md-2 text-center">
                    <img id="mix-donut" class="donut-pic" src="{% static 'images/mix.png' %}">
                    <p>Mix</p>
                </div>
                <div class="col-md-2 text-center">
                    <img class="donut-pic1" src="{% static 'images/original.png' %}">
                    <p>Original</p>
                </div>
                <div class="col-md-12 text-center mt-5">
                    <p style="color: #F5AB40; font-size: 64px;">Flavor</p>
                </div>
            </div>
            <div class = "row mt-5">
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut1.png' %}">
                    <p>A: {{ form.donut_flav_A }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut2.png' %}">
                    <p>B: {{ form.donut_flav_B }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut3.png' %}">
                    <p>C: {{ form.donut_flav_C }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut4.png' %}">
                    <p>D: {{ form.donut_flav_D }}</p>
                </div>        
            </div>
            
            <div class = 'row'>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut5.png' %}">
                    <p>E: {{ form.donut_flav_E }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut6.png' %}">
                    <p>F: {{ form.donut_flav_F }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut7.png' %}">
                    <p>G: {{ form.donut_flav_G }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut8.png' %}">
                    <p>H: {{ form.donut_flav_H }}</p>
                </div>        
            </div>
            <div class="col-md-12 text-center mt-5 mb-5">
                <input class="butt" type="submit" value="Lanjut"/>
            </div>
            
        </form>
        {% else %}
        Anda harus <a href="{% url 'homepage:login' %}">login</a> untuk mengakses halaman ini
        {% endif %}
    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    {% endblock %}
</body>
</html>