<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
  <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
  
  <script src="{% static 'js/jquery-3.4.1.min.js'  %}"></script>
  
  
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
</head>
<style>
  body, html {
      height: 100%;
      font-family: 'Poppins', sans-serif;
      background:white;
      font-size:20px;
      
  }
  .sign{
      background:#F9D3BE;
      padding: 30px;
      border-radius:25px;
      border: 2px solid white;
      padding: 10px;
      text-align:center;
      margin-top:60px;
      
  }
  h2{
      text-align:center;
      margin:30px;
      font-weight:bold;
  }
  .btn{
      margin:20px;
      font-size:20px;
      color:#2E2C2A;
      background:#FAD7DE;
      border:#2E2C2A;
  }
  .btn:hover{
      background:#766C6B;
  }
  
  .register-con {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .register-con p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }

  
</style>
<body>
  <div class="container sign" id="space">
      <h2>Sign up</h2>
      <br>
<form method="post" class='register-con'>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-warning">Sign up</button>
  </form>
  <a href="{% url 'homepage:home' %}"><button class="btn btn-light">Home</button></a>       
</div>
</body>
</html>


